
Data/title_basics.csv_final.gz
Data/title.akas_real.tsv.gz
Data/results_in_progress_mov.json
Data/results_in_progress_mov.json
Data/title.ratings_real.tsv.gz
.ipynb_checkpoints/Part 2- Movie API Calls-checkpoint.ipynb
.ipynb_checkpoints/Part 2.1- Movie API Calls-checkpoint.ipynb
.ipynb_checkpoints/Part 3- Movie EDA-checkpoint.ipynb
Data/final_tmdb_data_2000.csv.gz
.ipynb_checkpoints/Part 3- Movie EDA-checkpoint.ipynb
.ipynb_checkpoints/Part 2.2 Movie EDA-checkpoint.ipynb
.ipynb_checkpoints/Part 3- Movie EDA-checkpoint.ipynb
Data/results_in_progress_mov.json
Data/title_rating.csv.gz
Data/title_ratings_final.csv.gz
Data/title_basics.csv.gz
Data/title_basics_final.csv.gz
Data/title_rating.csv.gz
Data/title.basics_real.tsv.gz
Data/title_akas.csv.gz
